---
import { Mail } from "lucide-astro";
import github from "../assets/icons/github.svg";
import insta from "../assets/icons/insta.svg";
import LinkedIn from "../assets/icons/LinkedIn.svg";
---


<section id="contact" class="flex min-h-screen items-center justify-center bg-bg2 py-24">
    <div class="mx-auto w-full max-w-[1080px]">

        <div class="text-center text-text">
            <h1 class="font-title text-[56px] font-medium">
                Contact
            </h1>

            <p class="mt-4 text-[18px] leading-[30px]">
                ご覧いただきありがとうございます。<br>
                ご質問やご連絡がありましたら、お気軽にお問い合わせください。
            </p>
        </div>

        <div class="fade-item mt-20 flex justify-center gap-10">
            <a
                href="mailto:tahoito.dev@gmail.com"
                class="flex h-[210px] w-[210px] flex-col items-center justify-center rounded-[12px] border-2 border-cherry transition-all duration-300 hover:scale-105 hover:shadow-xl hover:bg-cherry"
            >
                <Mail class="w-20 h-20 stroke-[2.0] text-black" />
                <p class="mt-5 text-[18px]">Email</p>
            </a>

            <a
                href="https://github.com/tahoito" target="_blank" rel="noopener noreferrer"
                class="flex h-[210px] w-[210px] flex-col items-center justify-center rounded-[12px] border-2 border-cherry transition-all duration-300 hover:scale-105 hover:shadow-xl hover:bg-cherry"
            >
                <img src={github.src} alt="GitHub" class="w-20 h-20" />
                <p class="mt-5 text-[18px]">GitHub</p>
            </a>

            <a
                href="https://www.instagram.com/_dagwi.34/" 
                target="_blank" rel="noopener noreferrer"
                class="flex h-[210px] w-[210px] flex-col items-center justify-center rounded-[12px] border-2 border-cherry transition-all duration-300 hover:scale-105 hover:shadow-xl hover:bg-cherry"
            >
                <img src={insta.src} alt="Instagram" class="w-20 h-20" />
                <p class="mt-5 text-[18px]">Instagram</p>
            </a>

            <a
                href="https://www.linkedin.com/in/taho-ito-37526641b/"
                target="_blank"
                rel="noopener noreferrer"
                class="flex h-[210px] w-[210px] flex-col items-center justify-center rounded-[12px] border-2 border-cherry transition-all duration-300 hover:scale-105 hover:shadow-xl hover:bg-cherry"
            >
                <img src={LinkedIn.src} alt="LinkedIn" class="w-20 h-20" />
                <p class="mt-5 text-[18px]">LinkedIn</p>
            </a>
        </div>

    </div>
</section>

<style>
.fade-item {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1.2s ease;
}

.fade-item.show {
  opacity: 1;
  transform: translateY(0);
}
</style>

<script>
const observer = new IntersectionObserver((entries) => {
  entries.forEach((entry) => {
    if (entry.isIntersecting) {
      entry.target.classList.add("show");
    }
  });
});

document.querySelectorAll(".fade-item").forEach((el) => observer.observe(el));
</script>
