<section class="relative flex h-50 items-center justify-center overflow-hidden bg-cherry-bg">
    <div class="relative z-10 flex flex-col items-center gap-4">
        <h1 class="font-title text-[46px] font-medium text-text-title">
            Thank you for visiting !
        </h1>

        <p class="text-[18px] text-text">
            © 2026 Taho
        </p>
    </div>
</section>