<section class="relative flex h-[calc(100vh)] items-center justify-center overflow-hidden bg-cherry-bg">
  <h1
    class="relative z-10 text-[64px] font-semibold font-title"
  >
    Taho's Portfolio
  </h1>
</section>