<section
  id="home"
  class="mt-16 flex min-h-[calc(100dvh-4rem)] w-full items-center justify-center overflow-hidden bg-cherry-bg px-4"
>
  <h1
    class="text-center font-title text-[40px] sm:text-[52px] md:text-[189px]"
  >
    Portfolio
  </h1>
</section>