<section class="bg-bg1 py-24">
    <div class="mx-auto flex w-[1110px] flex-col items-center gap-4">

        <h1 class="font-title text-text-title text-[56px] font-medium">
            About My History...
        </h1>

        <p class="text-left text-[18px] text-text leading-[30px]">
            せっかくなので、Tahoの今までの人生を一緒にのぞいてみましょう。</p>
    </div>
</section>