<header class="fixed top-0 left-0 z-50 w-full bg-bg1/80 backdrop-blur-md">
  <nav class="mx-auto flex h-20 max-w-7xl items-center justify-between">

    <a href="/" class="text-2xl text-text">
      Taho's Portfolio
    </a>

    <div class="flex items-center gap-10">
        <ul class="flex items-center text-[18px]">
            <li><a href="#home" class="px-4 py-6 transition hover:bg-cherry hover:text-white">ホーム</a></li>
            <li><a href="#profile" class="px-4 py-6 transition hover:bg-cherry hover:text-white">プロフィール</a></li>
            <li><a href="#work" class="px-4 py-6 transition hover:bg-cherry hover:text-white">ポートフォリオ</a></li>
            <li><a href="#contact" class="px-4 py-6 transition hover:bg-cherry hover:text-white">連絡先</a></li>
        </ul>

        <div class="flex items-center gap-2 text-sm">
            <a href="/">JP</a>
            <span class="text-gray-400">|</span>
            <a href="/en">EN</a>
        </div>
    </div>

  </nav>
</header>