---
import me from "../assets/images/me.png";
---

<section id="profile" class="flex min-h-screen flex-col items-center justify-center bg-bg2">
    <h2 class="font-title text-[56px] text-text-title font-medium">
        About Me...
    </h2>

    <div class="mt-14 flex items-start gap-16">
        <img
            src={me.src}
            alt="Taho"
            class="fade-item w-[300px] flex-shrink-0 object-cover"
        />

        <div class="max-w-[500px] text-[18px] leading-[30px] text-text">
            <p> 名古屋出身のプログラミングを学んでる18歳です。<br> 
                現在はマレーシアのAPU大学でITを学びながら、Webアプリケーション開発に取り組んでいます。</p> 
            <p class="mt-4"> 
                LaravelやJavaを中心に、ユーザーの暮らしをより豊かにするサービスづくりを目指して学んでいます。
                <br>チーム開発ではバックエンドを担当し、個人では企画からデザイン、実装まで一貫して行っています。
                <br>将来は、世界中の人に使われるサービスを開発するフルスタックエンジニアになることが目標です。</p>
        </div>
    </div>
</section>

<style>
.fade-item {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1.2s ease;
}

.fade-item.show {
  opacity: 1;
  transform: translateY(0);
}
</style>

<script>
const observer = new IntersectionObserver((entries) => {
  entries.forEach((entry) => {
    if (entry.isIntersecting) {
      entry.target.classList.add("show");
    }
  });
});

document.querySelectorAll(".fade-item").forEach((el) => observer.observe(el));
</script>
