<section class="bg-bg2 py-24">
    <div class="mx-auto flex w-[1110px] flex-col items-center gap-8">

        <h1 class="font-title text-text-title text-[56px] font-medium">
            My Skill Set
        </h1>

        <div class="w-[1110px]">

            <p class="text-left text-[18px] text-text leading-[30px]">
                これまでの学習や開発を通して身につけたスキルをまとめました。<br>
                HTML/CSSからLaravel・Next.jsを用いたWebアプリケーション開発まで、
                フロントエンド・バックエンドの両方に挑戦してきました。<br>
                現在はWeb開発を中心に学習を続けており、今後はクラウド技術やバックエンド開発の知識をさらに深め、
                より実践的なシステム開発ができるエンジニアを目指しています。
            </p>

            <div class="mt-8 grid grid-cols-2 gap-8">
                <div class="h-[364px] bg-cherry-bg"></div>

                <div class="h-[364px] bg-cherry-bg"></div>

                <div class="h-[364px] bg-cherry-bg"></div>

                <div class="h-[364px]  bg-cherry-bg"></div>
            </div>

        </div>

    </div>
</section>