---
import SkillCard from "../assets/SkillCard.astro";
import python from "../assets/icons/python.svg";
import php from "../assets/icons/php.svg";
import java from "../assets/icons/java.svg";
import laravel from "../assets/icons/laravel.svg";
import js from "../assets/icons/js.svg";
import css from "../assets/icons/css.svg";
import tailwindcss from "../assets/icons/tailwindcss.svg";
import django from "../assets/icons/django.svg";
import flask from "../assets/icons/flask.svg";
import next from "../assets/icons/nextdotjs.svg";
import react from "../assets/icons/react.svg";
import springboot from "../assets/icons/springboot.svg";
import postgresql from "../assets/icons/postgresql.svg";
import mysql from "../assets/icons/mysql.svg";
---

<section id="skill" class="bg-bg2 py-24">
    <div class="mx-auto flex max-w-7xl flex-col items-center gap-8">

        <h1 class="font-title text-text-title text-[56px] font-medium">
            My Skill Set
        </h1>

        <div class="max-w-6xl">

            <p class="text-left text-[18px] text-text leading-[30px]">
                これまでの学習や開発を通して身につけたスキルをまとめました。<br>
                HTML/CSSからLaravel・Next.jsを用いたWebアプリケーション開発まで、
                フロントエンド・バックエンドの両方に挑戦してきました。<br>
                現在はWeb開発を中心に学習を続けており、今後はクラウド技術やバックエンド開発の知識をさらに深め、
                より実践的なシステム開発ができるエンジニアを目指しています。
            </p>

            <div class="mt-20 grid grid-cols-2 gap-10">
                <SkillCard
                    title="プログラミング言語"
                    skills={[
                        { name: "Python", level: 5, icon: python },
                        { name: "PHP", level: 5, icon: php },
                        { name: "JavaScript", level: 4, icon: js },
                        { name: "Java", level: 3, icon: java },
                    ]}
                />

                <SkillCard
                title="フロントエンド"
                skills={[
                    { name: "HTML/CSS", level: 5, icon: css },
                    { name: "Tailwind CSS", level: 5, icon: tailwindcss },
                    { name: "React", level: 4 , icon: react },
                    { name: "Next.js", level: 3, icon: next },
                ]}
                />

                <SkillCard
                title="バックエンド"
                skills={[
                    { name: "Laravel", level: 5, icon: laravel },
                    { name: "Django", level: 5, icon: django },
                    { name: "Flask", level: 4, icon: flask },
                    { name: "SpringBoot", level: 2, icon: springboot },
                ]}
                />

                <SkillCard
                title="データベース"
                skills={[
                    { name: "MySQL", level: 5 , icon: mysql },
                    { name: "PostgreSQL", level: 3 , icon: postgresql },
                ]}
                />
            </div>
        </div>

    </div>
</section>