---
import SkillCard from "../assets/SkillCard.astro";
---

<section id="skill" class="bg-bg2 py-24">
    <div class="mx-auto flex max-w-6xl flex-col items-center gap-8">

        <h1 class="font-title text-text-title text-[56px] font-medium">
            My Skill Set
        </h1>

        <div class="max-w-6xl">

            <p class="text-left text-[18px] text-text leading-[30px]">
                これまでの学習や開発を通して身につけたスキルをまとめました。<br>
                HTML/CSSからLaravel・Next.jsを用いたWebアプリケーション開発まで、
                フロントエンド・バックエンドの両方に挑戦してきました。<br>
                現在はWeb開発を中心に学習を続けており、今後はクラウド技術やバックエンド開発の知識をさらに深め、
                より実践的なシステム開発ができるエンジニアを目指しています。
            </p>

            <div class="mt-20 grid grid-cols-2 gap-10">
                <SkillCard
                title="プログラミング言語"
                skills={[
                    { name: "Python", level: 5 },
                    { name: "PHP", level: 5 },
                    { name: "JavaScript", level: 4 },
                    { name: "JavaScript", level: 2 },
                ]}
                />

                <SkillCard
                title="フロントエンド"
                skills={[
                    { name: "HTML/CSS", level: 5 },
                    { name: "Tailwind CSS", level: 5 },
                    { name: "React", level: 4 },
                    { name: "Next.js", level: 3 },
                ]}
                />

                <SkillCard
                title="バックエンド"
                skills={[
                    { name: "Laravel", level: 5 },
                    { name: "Django", level: 5 },
                    { name: "Flask", level: 4 },
                    { name: "SpringBoot", level: 2 },
                ]}
                />

                <SkillCard
                title="データベース"
                skills={[
                    { name: "MySQL", level: 5 },
                    { name: "PostgreSQL", level: 3 },
                ]}
                />
            </div>
        </div>

    </div>
</section>