---
import WorkCard from "../assets/WorkCard.astro";

import SmartManage from "../assets/works/smart-manage/1.png";
import SmartManage2 from "../assets/works/smart-manage/2.png";
import SmartManage3 from "../assets/works/smart-manage/3.png";
import SmartManage4 from "../assets/works/smart-manage/4.png";
import Tastie from "../assets/works/tastie/1.png";
import Tastie2 from "../assets/works/tastie/2.png";
import Tastie3 from "../assets/works/tastie/3.jpg";
import Tastie4 from "../assets/works/tastie/4.jpg";
import Tastie5 from "../assets/works/tastie/5.jpg";
import Tastie6 from "../assets/works/tastie/6.jpg";
import Portfolio from "../assets/works/portfolio/1.png";
import Amasupo from "../assets/works/amasupo/1.png";
import Cafest from "../assets/works/cafest/1.png";
import Cofit from "../assets/works/cofit/1.png";

const works = [
  {
    name: "Smart Manage",
    image:  [ SmartManage, SmartManage2, SmartManage3, SmartManage4 ],
    description: `
      JavaとSpring Bootを用いて開発した家計管理アプリです。
      収入と支出をカテゴリーごとに管理でき、円グラフによる可視化でお金の流れをひと目で把握できます。また、条件を指定して過去の記録を検索できるほか、貯金目標を設定し、達成状況を確認することもできます。日々の家計を分かりやすく管理し、継続的な支出の見直しをサポートするアプリです。

      初めてJava・Spring Bootを使用した個人開発に取り組みました。CRUD機能の実装だけでなく、検索機能や目標設定機能、グラフによるデータの可視化を取り入れ、使いやすさと継続的に利用したくなるアプリを意識して設計・開発しました。
      `,
    period: "2024年11月ごろ ~ 2025年3月13日",
    techs: ["HTML/CSS", "Java", "SpringBoot", "Chart.js"],
    githubUrl: "https://github.com/tahoito/smart_manage",
  },
  {
    name: "Tastie",
    image: [Tastie, Tastie2, Tastie3, Tastie4, Tastie5, Tastie6],
    description:  `
      自分だけのレシピを記録・管理できるWebアプリです。
      レシピを追加し、保存するだけでなく、必要な材料を買い物リストへ追加できるため、「レシピを残す → 買い物リストで活用する」までを一つのアプリで完結できます。PWAに対応しており、スマートフォンからも快適に利用できます。

      学校の審査会に向けて個人制作したWebアプリです。親が作った料理を自分でも再現できるよう、レシピを記録することを目的として開発しましたが、実際に使うことを考えると、必要な材料をそのまま買い物リストに追加できた方が便利だと感じ、チェックリスト機能を実装しました。ユーザー目線で買い物まで一貫してサポートできるアプリを目指しました。
    `,
    period: "2025年7月ごろ ~ 2025年9月ごろ",
    techs: ["HTML/CSS", "Laravel", "Tailwind CSS", "Inertia.js", "Vue.js"],
    githubUrl: "https://github.com/tahoito/recipe_app",
  },
  {
    name: "Portfolio",
    image: Portfolio,
    description: `
      このポートフォリオサイトは、これまでの制作物やスキルを分かりやすく伝えることを目的に制作しました。
      自分の好きなカラーやイラストを取り入れ、親しみやすさと見やすさを両立したデザインを意識しています。
      また、作品の詳細をモーダルで表示することで、画面遷移を減らしながらスムーズに閲覧できるよう工夫しました。`,
    period: "2026年6月ごろ ~ 2026年7月ごろ",
    techs: ["Astro", "Tailwind CSS", "TypeScript"],
  },
  {
    name: "あますぽ",
    image: Amasupo,
    description: `
      このポートフォリオサイトは、これまでの制作物やスキルを分かりやすく伝えることを目的に制作しました。
      自分の好きなカラーやイラストを取り入れ、親しみやすさと見やすさを両立したデザインを意識しています。また、作品の詳細をモーダルで表示することで、画面遷移を減らしながらスムーズに閲覧できるよう工夫しました。
      
      初めてJava・Spring Bootを使用した個人開発に取り組みました。CRUD機能の実装だけでなく、検索機能や目標設定機能、グラフによるデータの可視化を取り入れ、使いやすさと継続的に利用したくなるアプリを意識して設計・開発しました。`,
    period: "2026年6月ごろ ~ 2026年7月ごろ",
    techs: ["Astro", "Tailwind CSS", "TypeScript"],
    githubUrl:"https://github.com/tahoito/weather-app",
  },
  {
    name: "Cafest",
    image: Cafest,
    description: `
      このポートフォリオサイトは、これまでの制作物やスキルを分かりやすく伝えることを目的に制作しました。
      自分の好きなカラーやイラストを取り入れ、親しみやすさと見やすさを両立したデザインを意識しています。また、作品の詳細をモーダルで表示することで、画面遷移を減らしながらスムーズに閲覧できるよう工夫しました。
      
      初めてJava・Spring Bootを使用した個人開発に取り組みました。CRUD機能の実装だけでなく、検索機能や目標設定機能、グラフによるデータの可視化を取り入れ、使いやすさと継続的に利用したくなるアプリを意識して設計・開発しました。`,
    period: "2026年6月ごろ ~ 2026年7月ごろ",
    techs: ["Astro", "Tailwind CSS", "TypeScript"],
    githubUrl:"https://github.com/tahoito/cafest_app",
  },
  {
    name: "Cofit",
    image: Cofit,
    description: `
      このポートフォリオサイトは、これまでの制作物やスキルを分かりやすく伝えることを目的に制作しました。
      自分の好きなカラーやイラストを取り入れ、親しみやすさと見やすさを両立したデザインを意識しています。また、作品の詳細をモーダルで表示することで、画面遷移を減らしながらスムーズに閲覧できるよう工夫しました。
      
      初めてJava・Spring Bootを使用した個人開発に取り組みました。CRUD機能の実装だけでなく、検索機能や目標設定機能、グラフによるデータの可視化を取り入れ、使いやすさと継続的に利用したくなるアプリを意識して設計・開発しました。`,
    period: "2026年6月ごろ ~ 2026年7月ごろ",
    techs: ["Astro", "Tailwind CSS", "TypeScript"],
    githubUrl:"https://github.com/kdg25-project/cofit",
  },
];

interface Props {
  t: {
    works: {
      title: string;
  },
  };

  lang: "ja" | "en";
}

const { t, lang } = Astro.props;
---


<section id="works" class="bg-bg1 py-24">
  <div class="mx-auto flex max-w-6xl flex-col items-center gap-4">

    <h1 class="font-title text-[56px] font-medium text-text-title">
      Works
    </h1>

    <p class="text-center text-[18px] leading-[30px] text-text">
      {t.works.title}
    </p>

    <div class="mt-16 grid w-full grid-cols-3 gap-8">
      {works.map((work) => (
        <WorkCard {...work} />
      ))}
    </div>

  </div>
</section>