---
import WorkCard from "../assets/WorkCard.astro";

import SmartManage from "../assets/works/smart-manage/1.png";
import Tastie from "../assets/works/tastie/1.png";
import Portfolio from "../assets/works/portfolio/1.png";
import Amasupo from "../assets/works/amasupo/1.png";
import Cafest from "../assets/works/cafest/1.png";
import Cofit from "../assets/works/cofit/1.png";

const works = [
  {
    name: "Smart Manage",
    image: SmartManage,
    description: `
      JavaとSpring Bootを用いて開発した家計管理アプリです。
      収入と支出をカテゴリーごとに管理でき、円グラフによる可視化でお金の流れをひと目で把握できます。
      また、条件を指定して過去の記録を検索できるほか、貯金目標を設定し、達成状況を確認することもできます。
      日々の家計を分かりやすく管理し、継続的な支出の見直しをサポートするアプリです。
      `,
    period: "2024年11月ごろ ~ 2025年3月13日",
    techs: ["HTML/CSS", "Java", "SpringBoot", "Chart.js"],
    github: "https://github.com/...",
  },
  {
    name: "Tastie",
    image: Tastie,
    description:  `
      自分だけのレシピを記録・管理できるWebアプリです。
      レシピを追加し、保存するだけでなく、
      必要な材料を買い物リストへ追加できるため、
      「レシピを残す → 買い物リストで活用する」までを一つのアプリで完結できます。PWAに対応しており、
      スマートフォンからも快適に利用できます。
      `,
    period: "2025年7月ごろ ~ 2025年9月ごろ",
    techs: ["HTML/CSS", "Laravel", "Tailwind CSS", "Inertia.js", "Vue.js"],
  },
  {
    name: "Portfolio",
    image: Portfolio,
    description: `
      このポートフォリオサイトは、これまでの制作物やスキルを分かりやすく伝えることを目的に制作しました。
      自分の好きなカラーやイラストを取り入れ、親しみやすさと見やすさを両立したデザインを意識しています。
      また、作品の詳細をモーダルで表示することで、画面遷移を減らしながらスムーズに閲覧できるよう工夫しました。`,
    period: "2026年6月ごろ ~ 2026年7月ごろ",
    techs: ["Astro", "Tailwind CSS", "TypeScript"],
  },
  {
    name: "あますぽ",
    image: Amasupo,
    description: `
      このポートフォリオサイトは、これまでの制作物やスキルを分かりやすく伝えることを目的に制作しました。
      自分の好きなカラーやイラストを取り入れ、親しみやすさと見やすさを両立したデザインを意識しています。
      また、作品の詳細をモーダルで表示することで、画面遷移を減らしながらスムーズに閲覧できるよう工夫しました。`,
    period: "2026年6月ごろ ~ 2026年7月ごろ",
    techs: ["Astro", "Tailwind CSS", "TypeScript"],
  },
  {
    name: "Cafest",
    image: Cafest,
    description: `
      このポートフォリオサイトは、これまでの制作物やスキルを分かりやすく伝えることを目的に制作しました。
      自分の好きなカラーやイラストを取り入れ、親しみやすさと見やすさを両立したデザインを意識しています。
      また、作品の詳細をモーダルで表示することで、画面遷移を減らしながらスムーズに閲覧できるよう工夫しました。`,
    period: "2026年6月ごろ ~ 2026年7月ごろ",
    techs: ["Astro", "Tailwind CSS", "TypeScript"],
  },
  {
    name: "Cofit",
    image: Cofit,
    description: `
      このポートフォリオサイトは、これまでの制作物やスキルを分かりやすく伝えることを目的に制作しました。
      自分の好きなカラーやイラストを取り入れ、親しみやすさと見やすさを両立したデザインを意識しています。
      また、作品の詳細をモーダルで表示することで、画面遷移を減らしながらスムーズに閲覧できるよう工夫しました。`,
    period: "2026年6月ごろ ~ 2026年7月ごろ",
    techs: ["Astro", "Tailwind CSS", "TypeScript"],
  },
];
---
<section id="works" class="bg-bg1 py-24">
  <div class="mx-auto flex max-w-6xl flex-col items-center gap-4">

    <h1 class="font-title text-[56px] font-medium text-text-title">
      Works
    </h1>

    <p class="text-center text-[18px] leading-[30px] text-text">
      個人制作・チーム制作
    </p>

    <div class="mt-16 grid w-full grid-cols-3 gap-8">
      {works.map((work) => (
        <WorkCard {...work} />
      ))}
    </div>

  </div>
</section>