---
import WorkCard from "../assets/WorkCard.astro";

import SmartManage from "../assets/works/smart-manage/1.png";
import Tastie from "../assets/works/tastie/1.png";
import Portfolio from "../assets/works/portfolio/1.png";
import Amasupo from "../assets/works/amasupo/1.png";
import Cafest from "../assets/works/cafest/1.png";
import Cofit from "../assets/works/cofit/1.png";

const works = [
  {
    name: "Smart Manage",
    image: SmartManage,
  },
  {
    name: "Tastie",
    image: Tastie,
  },
  {
    name: "Portfolio",
    image: Portfolio,
  },
  {
    name: "あますぽ",
    image: Amasupo,
  },
  {
    name: "Cafest",
    image: Cafest,
  },
  {
    name: "Cofit",
    image: Cofit,
  },
];
---

<section id="works" class="flex min-h-screen items-center justify-center bg-bg1">
  <div class="flex flex-col items-center gap-4">

    <h1 class="font-title text-[56px] font-medium text-text-title">
      Works
    </h1>

    <p class="text-center text-[18px] leading-[30px] text-text">
      個人制作・チーム制作
    </p>

    <div class="grid grid-cols-3 gap-8 border: 1px solid #ECECEC;">
      {works.map((work) => (
        <WorkCard {...work} />
      ))}
    </div>

  </div>
</section>