---
import { histories } from "../data/history";
import HistoryItem from "./HistoryItem.astro";
---

<section class="relative">

  <div class="absolute left-[180px] top-0 h-full w-[6px] rounded-full bg-primary"></div>

  {
    histories.map((history) => (
      <HistoryItem {...history} />
    ))
  }

</section>