---
import type { ImageMetadata } from "astro";

interface Props {
  year: string;
  image: string | ImageMetadata;
  description: string[];
  title?: string;
}

const { year, image, description, title } = Astro.props;
---

<div
  class="fade-item grid min-h-[260px] items-center md:grid-cols-[180px_80px_257px_1fr]"
>
  <!-- 年 -->
  <p
    class="text-left text-[40px] font-semibold text-cherry"
  >
    {year}
  </p>

  <!-- 横線と丸 -->
  <div class="relative h-full min-h-[140px]">
    <div
      class="absolute top-1/2 left-6 h-[15px] w-[78px] -translate-y-1/2 bg-cherry"
    ></div>
  </div>

  <!-- 写真 -->
  <div
    class="relative z-10 ml-4 h-[257px] w-[257px] shrink-0 overflow-hidden rounded-full bg-[#d9d9d9]"
  >
    <img
      src={typeof image === 'string' ? image : image.src}
      alt=""
      class="h-full w-full object-cover"
      loading="lazy"
    />
  </div>

  <!-- 説明 -->
  <div class="pl-10 space-y-2 text-[24px] text-left">
    {
      description.map((text) => (
        <p>{text}</p>
      ))
    }
  </div>
</div>