---
import type { ImageMetadata } from "astro";

interface Props {
  name: string;
  image: ImageMetadata;
}

const { name, image } = Astro.props;
---

<div class="group mx-auto w-fit cursor-pointer">
  <div class="h-[193px] w-[332px] overflow-hidden bg-cherry shadow-md transition duration-300 group-hover:-translate-y-2 group-hover:shadow-xl">
    <img
      src={image.src}
      alt={name}
      class="h-full w-full object-cover transition duration-300 group-hover:scale-110"
    />
  </div>

  <p class="mt-2 text-center text-[18px] font-medium text-text">
    {name}
  </p>
</div>